h2 {
  margin: 50px 0px;
}

body,html {
  background: ghostwhite;
}

textarea {
  max-width: 800px;
  min-height: 450px !important;
  overflow: auto;
  font-size: 18px !important;
  resize: none;
  font-weight: 500 !important;
  color: #0c158c !important;
}

a {
  display: inline-block;

  &:disabled {
    opacity: .4 !important;
    cursor: not-allowed !important;
  }
}

.btn-block {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    width: 50%;
  }
}


#file {
  display: none !important;
}

pre {
  margin-top: 15px;
  font-size: 18px;
}

select {
  margin-bottom: 30px;
  width: 50% !important;
}


@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #1e1e1e;
    color: white;
  }

  textarea {
    background-color: #333 !important;
    color: #0a62ff;
  }
}

